<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_tags %}
<html lang="en">

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
   <h1>Список новостей</h1>
   <h1>------------------------</h1>
<!--   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}-->
<!--   <form action="" method="get">-->
<!--       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}-->
<!--       {{ filterset.form.as_p }}-->
<!--       {# Добавим кнопку отправки данных формы #}-->
<!--       <input type="submit" value="Найти" />-->
<!--   </form>-->

   <hr>
   {% if News %}
       {% for post in News %}
       <h3>{{ post.author }}</h3>
       <h3>{{ post.title }}</h3>
       <h4>{{ post.categoryType }}</h4>
       <li class="nav-item active">
           <a class="nav-link" href="/news/news/{{post.pk}}">{{post.pk}}
           </a>
       </li>
       <h7>{{ post.postCategory.cat }}</h7>
       <h4>{{ post.dateCreation|date:'M d Y' }}</h4>
       <h4>{{ post.rating}}</h4>
       <h5>{{ post.text|truncatewords:20 }}</h5>
       {% endfor %}
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
</html>