<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h2>{{ Post.author }}</h2>
<h3>{{ Post.title }}</h3>
<h3>{{ Post.categoryType }}</h3>
<h5>{{ Post.postCategory.name }}</h5>
<h3>{{ Post.dateCreation }}</h3>
<h3>{{ Post.rating}}</h3>
<h4>{{ Post.censor }}</h4>

<hr><br>
<a href="/add_subscribe/1/">Подписаться на новости в категории: "{{ Post.categoryType }}"</a>
{% for cat in post_category %}
    {% if cat.cat.name not in is_subscribed %}
        <div class="container text-start">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary disabled">{{ cat.cat.name }}</button>
                <button type="button" class="btn btn-success">
                    <a class="text-decoration-none text-light" href="/news/add_subscribe/{{ cat.cat_id }}/">Подписаться на новости в категории: "{{ cat.cat.name }}"</a>
                </button>
            </div>
        </div>
    {% elif cat.cat.name in is_subscribed %}
        <div class="container text-start">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary disabled">{{ cat.cat.name }}</button>
                <button type="button" class="btn btn-danger">
                    <a class="text-decoration-none text-light" href="/news/del_unsubscribe/{{ cat.cat_id }}/">Отписаться от новостей в категории: "{{ cat.cat.name }}"</a>
                </button>
            </div>
        </div>
    {% endif %}
{% endfor %}
<hr><br>
<a href="/news/news/">Все статьи</a>
{% endblock content %}